
/* FEATURED HOMES SECTION */
.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 2rem;
    z-index: 0;
    margin-bottom: 8em;
}

.container .heading {
    display: flex;
    justify-content: space-between;
    color: var(--LOGO-COLOR);;
}

.heading * {
    font-family: "Bangers", system-ui !important;
    font-style: 3rem !important;
}

.heading h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.heading a {
    font-weight: bolder;
    font-size: 1.2em;
    position: relative;
}

.heading a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--LOGO-COLOR);
    position: absolute;
    left: 0;
    transform: translateY(20px);
}

.homes {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 250px;
    gap: 1rem;
}

.home {
    cursor: pointer;
}

.home .home-img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    border: 1px solid black;
}

.home .info-section {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    font-weight: bolder;
}

.info-section :is(:first-child, :last-child) {
    font-size: 1.4em;
}

.info-section .home-price {
    font-size: 1.8em;
}

.info-section .home-name {
    color: tomato;
}

.info-section :not(:first-child) {
    color: var(--SB-COLOR);
}