/* Tablets (portrait) */
/* 
    NOTE: When max-width is used with screen, this means that when the screen size is the max-width or less the styles will be applied
*/
@media (max-width: 995px) {
    :root {
        --AFTER-PDING: 0 1em;
    }
    
    .close-icon {
        display: block;
    }

    .top-border::before {
        width: 100% !important;
    }

    .navbar .nav:first-child {
        display: block;
    }

    .responsive-nav-section .logo {
        display: flex;
        align-items: center;
    }

    .navbar .nav-section {
        transform: translateX(-100%);
        visibility: hidden;
        margin: 0;
        padding: 0 1.5em;
        background-color: var(--FFF-COLOR);
        z-index: 10011;

        position: fixed;
        top: 0;
        left: 0;

        /* display: none; */
        width: 100vw;
        height: 100vh;
        /* height: 100%; */

        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: scroll;
        
        transition: transform 0.2s;
    }

    .nav-section.sidebar {
        visibility: visible;
        transform: translateX(0);
    }
    
    .nav-section .logo {
        padding: 0.3em;
        order: 0;
        width: 100%;
        position: relative;
        margin: 0;
        cursor: auto;
        
        display: flex;        
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-section .logo .close-icon {
        margin-right: 15px;
        cursor: pointer;
    }

    .nav-section .start {
        display: block;
        order: 2;
        width: 100%;
    }

    .nav-section .start > * {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        min-width: 100%;
    }

    .nav-section .second::before {
        display: none;
    }

    .nav-section > .end {
        order: 1;
        position: relative;
    }

    .end .btn {
        display: none;
    }

    .end a {
        color: blue;
    }

    .end a:last-child::before {
        content: '';

        position: absolute;
        font-weight: bold;
        font-size: 2em;
        transform: translate(-13px, -10%) skewX(-20deg);
        background-color: black;
        width: 2px;
        height: 20px;
    }

    .nav-section :is(.first, .second) .dropdown-elements > a {
        font-size: 1.5em;
        width: 100%;
    }

    .nav-section :is(.first, .second) .dropdown-elements > a::after {
        content: url("../img/arrow-down2.svg");
        position: absolute;
        right: 0;
        padding: var(--AFTER-PDING);
    }

    .nav-section .second a:last-child:after {
        content: '' !important;
    }
    
    /* dropdown items in navbar */
    .navbar :not(.end) .dropdown-elements:hover .dropdown-items {
        display: none;
    }

    .nav-section .dropdown-items {
        position: static;
        box-shadow: none;
        color: #0d6efd;
    }

}

