/* 
    NOTE: When max-width is used with screen, this means that when the screen size is the max-width or less the styles will be applied
*/


/* Tablets (portrait) */
@media (max-width: 995px) {
    :root {
        --AFTER-PDING: 0 1em;
        --LIGHT-FFF: hsl(0, 0%, 80%);
    }
    
    .close-icon {
        display: block;
    }

    .top-border::before {
        width: 100% !important;
    }

    /* NAV SECTION */

    .navbar {
        box-shadow: unset;
        border-bottom: 1px inset var(--LIGHT-FFF);
        /* border-style: ; */
    }

    .navbar .nav:first-child {
        display: block;
    }

    .responsive-nav-section .logo-area {
        display: flex;
        align-items: center;
    }

    .navbar .nav-section {
        transform: translateX(-100%);
        visibility: hidden;
        margin: 0;
        padding: 0 1.5em;
        background-color: var(--FFF-COLOR);
        z-index: 10011;

        position: fixed;
        top: 0;
        left: 0;

        /* display: none; */
        width: 100vw;
        height: 100vh;
        /* height: 100%; */

        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: scroll;
        
        transition: transform 0.2s;
    }

    .nav-section.sidebar {
        visibility: visible;
        transform: translateX(0);
    }
    
    .nav-section .logo-area {
        padding: 0.3em;
        order: 0;
        width: 100%;
        position: relative;
        margin: 0;
        cursor: auto;
        
        display: flex;        
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-section .logo-area .close-icon {
        margin-right: 15px;
        cursor: pointer;
    }

    .nav-section .start {
        display: block;
        order: 2;
        width: 100%;
    }

    .nav-section .start > * {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        min-width: 100%;
    }

    .nav-section .second::before {
        display: none;
    }

    .nav-section > .end {
        order: 1;
        position: relative;
    }

    .end .btn {
        display: none;
    }

    .end a {
        color: blue;
    }

    .end a:last-child::before {
        content: '';

        position: absolute;
        font-weight: bold;
        font-size: 2em;
        transform: translate(-13px, -10%) skewX(-20deg);
        background-color: black;
        width: 2px;
        height: 20px;
    }

    .nav-section :is(.first, .second) .dropdown-elements > a {
        font-size: 1.5em;
        width: 100%;
    }

    .nav-section :is(.first, .second) .dropdown-elements > a::after {
        content: url("../img/arrow-down2.svg");
        position: absolute;
        right: 0;
        padding: var(--AFTER-PDING);
    }

    .nav-section .second a:last-child:after {
        content: '' !important;
    }
    
    /* dropdown items in navbar */
    .navbar :not(.end) .dropdown-elements:hover .dropdown-items {
        display: none;
    }

    .nav-section .dropdown-items {
        position: static;
        box-shadow: none;
        color: #0d6efd;
    }


    /* BANNER SECTION */
    
    .sponsors-section {
        background: linear-gradient(
            hsl(0, 0%, 96%) 0%, 
            hsl(0, 0%, 100%) 20%
            );
        margin: unset;
        padding-top: 3em;
    }

    .image-section {
        background: unset;
        height: auto;

        justify-content: flex-start;
        padding-top: 2em;
        gap: 4em;
        border-radius: 0 0 2em 2em;
        box-shadow: 0 1px 5px var(--LIGHT-FFF);
    }

    .banner-text {
        transform: unset;
        font-size: 2rem;
        text-shadow: unset;
        color: var(--LOGO-COLOR)
    }

    .image-section .search-section {
        transform: unset;
        background: unset;
        align-items: flex-start;
    }

    /* SEARCH SECTION */

    .search-form {
        /* background-color: green; */
        padding: 2em 0;
        border-top: 1px solid var(--LIGHT-FFF);
    }

    .search-section .search-form > :not(.search-bar) {
        display: none;
    }

    .other-thing {
        display: flex;
    }

    /* SPONSOR SECTION */
    .sponsors-section .sponsor:last-child {
        display: none;
    }

}



/* PHONE VIEW */
@media (max-width: 766px) {

    .search-form {
        border-top: none;
    }
    .search-form .search-bar {
        flex-direction: column;
        border: 1px solid var(--LOGO-COLOR);
        border-radius: 1em;
    }
    .image-section {
        gap: 0;
    }


    .search-section .search-form .search-tabs {
        display: flex;
        color: var(--LOGO-COLOR);
        border-color: var(--LOGO-COLOR);
    }

    .search-section .search-form .search-tabs label:last-child {
        display: none;
    }

    .search-section .search-form .search-tabs label {
        color: var(--LOGO-COLOR);
        flex: 1;
        font-size: 1.1em;
        text-align: center;
        font-weight: bolder;
        border-bottom-width: 3px;
        border-bottom-color: var(--LOGO-COLOR);
    }

    .search-section .search-form .search-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        /* background-color: red; */
    }

    .search-form .search-footer .custom-dropdown {
        width: 100%;

    }

    .search-btn.mobile-search-btn {
        width: 100%;
    }
    
    .custom-dropdown .dropdown-btn {
        box-shadow: none;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid var(--LOGO-COLOR);
        
    }
    
    .dropdown-btn .placeholder {
        color: var(--LOGO-COLOR);
        font-weight: bolder;
        padding: 0.3em 0.1em;
    }


    /* SPONSORS SECTION */
    .sponsors-section .sponsor:is(:nth-child(3), :last-child) {
        display: none;
    }

    .tables {
        flex-direction: column;
    }

    .tables .table-row {
        font-size: 0.7em;
    }

    .table-row .name {
        font-size: 1em;
    }

    /* GENERAL CONTAINER */

    .container .homes {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1em; /* Remove gap for seamless carousel */
    }

    .container .heading a{
        display: none;
    }

    .container .home {
        padding: 1em 0;
        flex: 0 0 100%;
        scroll-snap-align: start;
        height: 300px; /* Maintain fixed height */
    }


    /* SELECTION BY AREA */

    .selection-by-area {
        display: flex;
        flex-direction: column;
    }

    .selection-by-area .areas {
        grid-template-columns: 1fr;
    }

    .selection-by-area .aside {
        border-left: unset;
        padding: unset;
        margin: unset;
    }

    /* NEIGHBOURHOOD GUIDE */
    .neighbourhood-guide .places {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1em;

        padding: 1em 0;
    }

    .neighbourhood-guide .card {
        flex: 0 0 100%;
        scroll-snap-align: start;
        height: 220px;
    }

    /* FEATURED STORIES */
    .featured-stories {
        display: flex;
        gap: 1em;
    }

    .featured-stories .main .headline {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .main .image-container {
        width: 100%;
        height: 200px;
    }

    .main .image-container img {
        width: 100%;
        object-fit: cover;
    }

    /* FOOTER */
    .footer .first-part {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .last-part {
        display: flex;
        flex-direction: column;
    }
    .footer .extra .to-top .text {
        display: none;
    }
    .footer .extra .to-top .icon {
        border: 1px solid var(--FFF-COLOR);
        padding: 0.5em;
        border-radius: 50%;
    }
}
