.row-flex {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.main {
    flex: 2;
}

.main .inner-container {
    display: flex;
    flex-direction: column !important;
    gap: 1em;
}

.inner-container h2 {
    font-size: 2rem;
}

.inner-container p {
    font-size: 1.2rem;
}

.selection-by-area .areas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    color: var(--LOGO-COLOR);

    margin-top: 2em;
}

.areas .area-section {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.an-area * {
    cursor: pointer;
}

.an-area h4 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bolder;
}

.area-click {
    font-weight: bold;
    font-size: 12px;
    color: blue;
    position: relative;
}


.area-click::after {
    position: absolute;
    content: url("../img/arrow-down.svg");
    font-size: 20px;
    text-align: center;
    color: inherit;
}

.area-dropdown .area-click::after {
    top: -5px;
    right: 0;
}

.footing .area-click::after {
    top: 3px;
    right: 20px;
}

.show {
    display: block !important;
}

.rotate-after::after{
    transform: rotate(180deg);
}

.area-dropdown {
    display: flex;
    flex-direction: column-reverse;
}

.area-dropdown .dropdown {
    display: none;
    font-weight: bold !important;
}

.area-section .area-card:not(:first-child) {
    border-top: 1px solid black;
}

.selection-by-area .aside {
    padding: 0 3em;
    border-left: 1px solid var(--COLOR);
    display: flex;
    flex-direction: column;
}
.aside .heading {
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.aside .content a {
    font-size: 16px !important;
    color: var(--LOGO-COLOR);
}

.aside .dropdown {
    display: none;
}

.aside .area-click {
    margin-top: 1em;
    padding-right: 2em;
    font-size: 22px;
}