*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-style: normal;
}


img {
    display: block;
}

input, button, select {
    font: inherit;
    border: none;
    outline: none;
}

html, body {
    width: 100%;
}

:root {
    --COLOR: #444;
    --LOGO-COLOR: indigo;
    /* color: rgba(0, 0, 139, 3); */
    /* color: rgba(75, 0, 139, 0.5); */
    --NAV-HOVER-COLOR: #0d6efd;
    --FFF-COLOR: #fff;
    --NAV-HOVER-BGCOLOR: rgba(173, 216, 230, .2);
    --BTN-HOVER-BGCOLOR: rgba(0, 0, 255, 0.6);
    --SEARCH-BGCOLOR: rgba(11, 17, 52, 0.65);
    --SB-COLOR: darkslateblue;
    --MARKET-GOOD-BG: rgba(0, 128, 0, 0.3);
    --MARKET-GOOD-COLOR: darkgreen;
    --MARKET-BAD-BG: rgba(255, 0, 0, 0.3);
    --MARKET-BAD-COLOR: red;
}   

/* GENERAL CLASSES */
.block {
    display: block !important;
}

.btn {
    background-color: var(--LOGO-COLOR);
    color: var(--FFF-COLOR);
    border-radius: 0.5rem;
    transition: background-color .2s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--BTN-HOVER-BGCOLOR) !important;
    color: var(--FFF-COLOR) !important;
}

.top-Border {
    padding-top: 1em !important;
}

.top-Border::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    background-color: black;
    top: 0;
    left: 0;
    margin-top: 0.5em;
}

/* ELEMENT TAGS */

.hero {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 13.5px;
    display: block;
}


/* BANNER  */

.image-section {
    height: 470px;
    /* use 100% instead of 100vw to avoid creating horizontal overflow when scrollbars appear */
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../img/Homepage_Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    /* position: relative; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
}

.banner-text {
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--FFF-COLOR);
    text-shadow: 3px 3px 6px var(--COLOR);
    transform: translateY(150%);
}


/* MAIN CONTAINER SECTION  */

.main-container {
    max-width: min(1200px, 95%);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* SPONSORS SECTION */
.sponsors-section {
    height: auto;
    width: 100%;
    margin-top: 11em;
    /* padding: 4em 0; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.other-thing {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2em;
}

.thing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.thing .small-box {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 0.5em;
}

.other-thing :first-child .small-box { background: yellow; }
.other-thing :nth-child(2) .small-box { background: skyblue; }
.other-thing :nth-child(3) .small-box { background: tomato; }
.other-thing :last-child .small-box { background: green; }

.sponsors {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;

    gap: 2rem;
    /* transform: translateY(30%); */
}

.sponsors .sponsor {
    font-size: 2rem;
    font-weight: bold;
    height: 150px;
    width: clamp(150px, 100%, 300px);
    border: 2px solid black;
    
    display: grid;
    place-content: center;
    border-radius: 2rem;
}


/* MARKET OVERVIEW SECTION */
.tables {
    display: flex;
    gap: 2rem;
}

.table {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--COLOR);
    border-radius: 1em;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.table * :not(.performance) {
    color: var(--LOGO-COLOR);
}

.table > * {
    padding: 1em;
}

.table :is(.title, .name) {
    font-size: 1.2rem;
}

.table-head {
    display: flex;
    gap: 1em;
}

.table-head .icon {
    color: var(--FFF-COLOR);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    opacity: 0.7;
}

.gainers .icon {
    background-color: var(--MARKET-GOOD-COLOR);
}

.losers .icon {
    background-color: var(--MARKET-BAD-COLOR);
    transform: rotate(90deg);
}

.click-here {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.click-here:hover:hover {
    background-color: rgba(0, 0, 255, 0.1);
}

.table-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--COLOR);
}

.performance {
    padding: 0.1em 1em;
    border-radius: 1em;
}

.gainers .performance {
    background-color: var(--MARKET-GOOD-BG);
    color: var(--MARKET-GOOD-COLOR);
}

.losers .performance {
    background-color: var(--MARKET-BAD-BG);
    color: var(--MARKET-BAD-COLOR);
}

.performance .sign {
    color: inherit;
}


/* NEIGHBOURHOOD GUIDE SECTION */
.neighbourhood-guide .places {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 220px;
    gap: 2em;

    grid-template-areas:
        "lagos abuja abuja ibadan"
        "lagos port-harcourt delta ibadan";
}

.abuja { grid-area: abuja; }
.lagos { grid-area: lagos; }
.delta { grid-area: delta; }
.ibadan { grid-area: ibadan; }
.port-harcourt { grid-area: port-harcourt; }

.places .card {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    border-radius: 2em;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.places .image-container {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.places .image-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}

.places img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.places * {
    color: var(--FFF-COLOR) !important;
}

.places .info-section {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 90%;

    padding: 1em;
    cursor: pointer;
    transform: translate(20px, -20%);
}

.places h3 {
    font-size: 16px !important;
}

.places .location {
    font-size: 12px !important;
}